.place {
  float: center;
  width: 40px;
  height: 40px;
  background: silver;
  margin: 5px;
  text-align: center;
  cursor: pointer;
}

.table {
  float: center;
  position: center;
  vertical-align: middle;
}

.free {
  float: center;
  width: 40px;
  height: 40px;
  background: silver;
  margin: 5px;
}

.booked {
  float: center;
  width: 40px;
  height: 40px;
  background: red;
  margin: 5px;
}

.chosen {
  float: center;
  width: 40px;
  height: 40px;
  background: #00ff00;
  margin: 5px;
}

.legend {
  border-style: solid;
  border-color: black;
  border-radius: 20;
}

.text {
  width: 50px;
  height: 50px;
  text-align: center;
  margin: 10px;
}

.info {
  width: 300px;
  height: 30px;
  background: silver;
}

.buy {
  width: 300px;
  text-align: center;
  height: 30px;
  background: gray;
}
